<div class="container meet-your-teachers">
    <h1>अपने Teachers से मिलें</h1>

    <div id="teachers-m">
        <div class="teachers-container">
            <div class="teachers-card">
                <div class="top" style="background-color: #06B47E;">
                    <img src="https://storage.googleapis.com/govtjobkaro_images/image238.png" alt="card1">
                </div>
                <div class="bottom">
                    <h3>Yamilet Booker</h3>
                    <p>
                        Learn Adobe Illustrator CC graphic design, logo design, and more with this in-depth, practical,
                        easy-to-follow course!
                    </p>
                </div>
            </div>
            <div class="teachers-card">
                <div class="top" style="background-color: #5E5881;">
                    <img src="https://storage.googleapis.com/govtjobkaro_images/image238.png" alt="card1">
                </div>
                <div class="bottom">
                    <h3>Yamilet Booker</h3>
                    <p>
                        Learn Adobe Illustrator CC graphic design, logo design, and more with this in-depth, practical,
                        easy-to-follow course!
                    </p>
                </div>
            </div>
            <div class="teachers-card">
                <div class="top" style="background-color: #F68C20;">
                    <img src="https://storage.googleapis.com/govtjobkaro_images/image238.png" alt="card1">
                </div>
                <div class="bottom">
                    <h3>Yamilet Booker</h3>
                    <p>
                        Learn Adobe Illustrator CC graphic design, logo design, and more with this in-depth, practical,
                        easy-to-follow course!
                    </p>
                </div>
            </div>
            <div class="teachers-card">
                <div class="top" style="background-color: #F68C20;">
                    <img src="https://storage.googleapis.com/govtjobkaro_images/image238.png" alt="card1">
                </div>
                <div class="bottom">
                    <h3>Yamilet Booker</h3>
                    <p>
                        Learn Adobe Illustrator CC graphic design, logo design, and more with this in-depth, practical,
                        easy-to-follow course!
                    </p>
                </div>
            </div>
            <div class="teachers-card">
                <div class="top" style="background-color: #F56962;">
                    <img src="https://storage.googleapis.com/govtjobkaro_images/image238.png" alt="card1">
                </div>
                <div class="bottom">
                    <h3>Yamilet Booker</h3>
                    <p>
                        Learn Adobe Illustrator CC graphic design, logo design, and more with this in-depth, practical,
                        easy-to-follow course!
                    </p>
                </div>
            </div>
            <div class="teachers-card">
                <div class="top" style="background-color: #91929A;">
                    <img src="https://storage.googleapis.com/govtjobkaro_images/image238.png" alt="card1">
                </div>
                <div class="bottom">
                    <h3>Yamilet Booker</h3>
                    <p>
                        Learn Adobe Illustrator CC graphic design, logo design, and more with this in-depth, practical,
                        easy-to-follow course!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <button class="btn pink-btn poppins-regular">
        <a href="check-out">Enroll Now For Just <del>Rs. 299</del> Rs. 6999</a>
    </button>
</div>