<div class="container-fluid offers-and-deals">
    <div class="container">
        <div class="deals-title d-flex align-items-start justify-content-between">
            <h1>Top Education offers and deals are listed here</h1>
            <!-- <button class="btn view-all">View all</button> -->
        </div>
        <div id="offers-deals" class="owl-carousel owl-theme">
            <a href="single-course-page?course_id=15e18729-1a4e-48f9-9370-6b961eec1e11" class="offers">
                <div class="offers-body">
                    <div class="text">
                        <!-- <h6>Up To 58% Off</h6> -->
                        <h5>Complete Crash Course For NAIB TEHSILDAR Exam</h5>
                    </div>
                    <div class="discount-banner" style="background-color: #B3A092;">
                        <h6>Total Discount</h6>
                        <h2>75%</h2>
                    </div>
                    <div class="image">
                        <img src="./images/Naib Tehsildar Poster.png" alt="image">
                    </div>
                </div>
            </a>
            <a href="single-course-page?course_id=09f76668-53ee-4486-889d-c1bb73cd1405" class="offers">
                <div class="offers-body">
                    <div class="text">
                        <!-- <h6>Productivity Course a</h6> -->
                        <h5>Complete Crash Course For PUNJAB Patwari Exam</h5>
                    </div>
                    <div class="discount-banner" style="background-color: #64929F">
                        <h6>Total Discount</h6>
                        <h2>50%</h2>
                    </div>
                    <div class="image">
                        <img src="./images/Patwari.png" alt="image">
                    </div>
                </div>
            </a>
            <a href="single-course-page?course_id=6ed83b18-ac83-43c1-a6f1-b95fc6c226dd" class="offers">
                <div class="offers-body">
                    <div class="text">
                        <!-- <h6>Pass above Rs 250.</h6> -->
                        <h5>Complete Course For English Language</h5>
                    </div>
                    <div class="discount-banner" style="background-color: #DF4161">
                        <h6>Total Discount</h6>
                        <h2>60%</h2>
                    </div>
                    <div class="image">
                        <img src="./images/English Language.png" alt="image">
                    </div>
                </div>
            </a>
            <a href="single-course-page?course_id=82b489df-43be-40bc-bf99-eeab6b9c2f87" class="offers">
                <div class="offers-body">
                    <div class="text">
                        <!-- <h6>Up To 58% Off</h6> -->
                        <h5>Complete Course For General Knowldge</h5>
                    </div>
                    <div class="discount-banner" style="background-color: #B3A092;">
                        <h6>Total Discount</h6>
                        <h2>40%</h2>
                    </div>
                    <div class="image">
                        <img src="./images/gk.png" alt="image">
                    </div>
                </div>
            </a>
            <a href="single-course-page?course_id=290fbc2d-557a-4abe-88ff-b184e408ef70" class="offers">
                <div class="offers-body">
                    <div class="text">
                        <!-- <h6>Productivity Course a</h6> -->
                        <h5>Complete Course For Computer & IT</h5>
                    </div>
                    <div class="discount-banner" style="background-color: #64929F">
                        <h6>Total Discount</h6>
                        <h2>70%</h2>
                    </div>
                    <div class="image">
                        <img src="./images/it.png" alt="image">
                    </div>
                </div>
            </a>
            <a href="single-course-page?course_id=a51c9169-6f38-4fd4-b490-ee7d6ddc59ce" class="offers">
                <div class="offers-body">
                    <div class="text">
                        <!-- <h6>Pass above Rs 250.</h6> -->
                        <h5>Complete Course For Punjabi Language</h5>
                    </div>
                    <div class="discount-banner" style="background-color: #DF4161">
                        <h6>Total Discount</h6>
                        <h2>60%</h2>
                    </div>
                    <div class="image">
                        <img src="./images/Punjab Language.png" alt="image">
                    </div>
                </div>
            </a>
            <a href="single-course-page?course_id=899c5afb-26b7-477f-acaf-a3eac685eae2" class="offers">
                <div class="offers-body">
                    <div class="text">
                        <!-- <h6>Pass above Rs 250.</h6> -->
                        <h5>Complete Crash Course For PUNJAB Police Bharti Exam</h5>
                    </div>
                    <div class="discount-banner" style="background-color: #f68c20">
                        <h6>Total Discount</h6>
                        <h2>50%</h2>
                    </div>
                    <div class="image">
                        <img src="./images/punjab police.png" alt="image">
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="pattern">
        <img src="https://storage.googleapis.com/govtjobkaro_images/Pattern.svg" alt="image">
    </div>
</div>

<style>
    #offers-deals .offers {
        color: black;
        display: block;
        text-decoration: none;
        padding: 25px 0;
        margin-left: 12px;
        background-color: transparent;
    }

    #offers-deals .offers:hover {
        color: black;
        text-decoration: none;
    }

    .offers-body {
        position: relative;
        width: 335px;
        height: 290px;
        margin: 0 auto;
        background-color: white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .text {
        position: absolute;
        z-index: 1;
        width: 150px;
        margin-top: 30px;
        margin-left: 15px;
        font-family: "Poppins Medium";
    }

    .text h6 {
        width: 120px;
        color: #5F5982;
        font-family: "Poppins Medium";
    }

    .text h5 {
        color: #302D3A;
        font-size: 17px;
        font-family: "Poppins Normal";
        font-weight: bolder;
    }

    .discount-banner {
        color: white;
        position: absolute;
        z-index: 1;
        width: fit-content;
        position: absolute;
        left: -16px;
        bottom: 30px;
        text-align: center;
        padding: 15px 15px 10px;
        border-radius: 5px;
        background-color: #B3A092;
    }

    .discount-banner h6 {
        font-family: "Poppins Normal";
    }

    .discount-banner h2 {
        font-size: 40px;
        line-height: 0.6;
        font-family: "Poppins Medium";
    }

    .image {
        position: absolute;
        bottom: -1px;
        right: 0px;
        width: 166px;
        height: 265px;
    }

    .image img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .pattern img {
        display: block;
        width: 100%;
        height: 100%;
    }


    /* offers-and-deals */
    .offers-and-deals {
        padding: 50px 0;
        position: relative;
        background-color: #efeff6;
    }

    .offers-and-deals .pattern {
        position: absolute;
        bottom: 60px;
        left: 54%;
        transform: translateX(-50%);
    }

    /* deals-title */
    .deals-title {
        margin-bottom: 40px;
    }

    .deals-title h1 {
        font-size: 36px;
        margin-right: 20px;
        font-family: "Poppins Medium";
    }

    /* .view-all btn */
    .view-all {
        color: white;
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 10px 20px;
        background-color: #f56962;
        font-family: "Poppins Medium";
    }

    .offers-and-deals .owl-prev span {
        width: 40px;
        height: 40px;
        content: url(https://storage.googleapis.com/govtjobkaro_images/wleft.png);
    }

    .offers-and-deals .owl-next span {
        width: 40px;
        height: 40px;
        content: url(https://storage.googleapis.com/govtjobkaro_images/wleft.png);
        transform: rotate(180deg);
    }

    .offers-and-deals .owl-prev span:hover {
        width: 40px;
        height: 40px;
        content: url(https://storage.googleapis.com/govtjobkaro_images/right.png);
        transform: rotate(180deg);
    }

    .offers-and-deals .owl-next span:hover {
        width: 40px;
        height: 40px;
        content: url(https://storage.googleapis.com/govtjobkaro_images/right.png);
        transform: rotate(0deg);
    }

    .offers-and-deals .owl-prev {
        position: absolute;
        outline: none;
        left: 5px;
        width: 40px;
        height: 40px;
    }

    .offers-and-deals .owl-next {
        position: absolute;
        outline: none;
        right: 5px;
        width: 40px;
        height: 40px;
    }

    .offers-and-deals .owl-theme .owl-dots {
        margin-top: 20px;
    }

    .offers-and-deals .owl-theme .owl-dots .owl-dot {
        outline: none;
    }

    .offers-and-deals .owl-theme .owl-dots .owl-dot span {
        width: 280px;
        height: 3px;
        background: transparent;
        margin: 0 10px;
        transition: opacity 200ms ease;
        border-radius: 00px;
    }

    .offers-and-deals .owl-theme .owl-dots .owl-dot.active span {
        display: block;
        background: #f68c20;
    }

    @media (max-width: 1200px) {
        .offers-and-deals .owl-theme .owl-dots .owl-dot span {
            width: 140px;
            margin: 0 10px;
        }

        .deals-title h1 {
            font-size: 28px;
            margin-right: 0px;
            font-family: "Poppins Medium";
        }

        .view-all {
            font-size: 14px;
        }
    }

    @media (max-width: 992px) {
        .offers-and-deals .container {
            max-width: 100%;
        }

        .offers-and-deals .owl-theme .owl-dots .owl-dot span {
            width: 120px;
        }
    }

    @media (max-width: 825px) {
        .offers-and-deals .owl-theme .owl-dots .owl-dot span {
            width: 70px;
        }

        .deals-title {
            margin-bottom: 20px;
            flex-direction: column;
        }

        .deals-title h1 {
            margin: 0 auto;
            margin-bottom: 0px;
        }

        .view-all {
            margin: 0 auto;
        }
    }

    @media (max-width: 690px) {
        .deals-title h1 {
            font-size: 21px;
            text-align: center;
            padding: 0 20px;
        }

        .view-all {
            padding: 8px 15px;
        }

        .offers-and-deals .owl-theme .owl-nav [class*="owl-"] {
            margin: 0px 15px;
        }
    }

    @media (max-width: 425px) {
        .offers-and-deals .container {
            padding: 0;
        }

        .offers-and-deals .owl-theme .owl-dots .owl-dot span {
            width: 20px;
        }

        .offers-body {
            width: 270px !important;
            height: 260px !important;
        }

        .offers-body .image {
            width: 150px !important;
            height: 244px !important;
        }

        .discount-banner {
            bottom: 30px !important;
            padding: 15px 10px 10px 10px !important;
        }

        .discount-banner h6 {
            font-size: 13px !important;
        }

        .discount-banner h2 {
            font-size: 24px !important;
        }

        .text {
            margin-left: 15px !important;
        }

        .offers-body .text h6 {
            font-size: 13px;
        }

        .offers-body .text h5 {
            width: 100px;
            font-size: 15px !important;
        }

        .offers-and-deals .owl-prev,
        .offers-and-deals .owl-next,
        .offers-and-deals .owl-prev span,
        .offers-and-deals .owl-next span,
        .offers-and-deals .owl-prev span:hover,
        .offers-and-deals .owl-next span:hover {
            width: 30px;
            height: 30px;
        }

        .offers-and-deals .owl-theme .owl-dots {
            margin-top: 15px;
        }
    }

    @media (max-width: 425px) {
        .offers-and-deals .owl-theme .owl-dots .owl-dot span {
            width: 15px;
            margin: 0 5px;
        }

        .offers-and-deals .owl-theme .owl-dots {
            margin-top: 0px;
        }
    }
</style>

<script>
    $('.owl-carousel').owlCarousel({
        auto: true,
        loop: true,
        nav: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            800: {
                items: 2
            },
            1200: {
                items: 3
            }
        }
    })
</script>