<div class="section6">
    <div class="container mt-5 ">
        <div class="row ">
            <div class="col-lg-8">
                <h2 class="pl-5">What our students have to say</h2>
            </div>
            <div id="drop1" class="col-lg-3 ">
                <div role="group">
                    <a href="#reviewCarousel" role="button" data-slide="prev">
                        <button id="dropprev" type="button" class="btn btn-md"></button>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a href="#reviewCarousel" role="button" data-slide="next">
                        <button id="dropnext" type="button" class="orange btn btn-md"></button>
                        <span class="sr-only">Previous</span>
                    </a>
                </div>

            </div>

        </div>
        <div class="review"></div>
        <div class="ml-0 mr-0 mt-5 row">
            <div class="d-flex justify-content-center" style="width: 100%;">
                <div id="reviewCarousel" class="carousel slide" data-ride="carousel" style="width: 100%;">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div id="circle" class="col-lg-4 ml-4">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <!-- <div class="mt-1"><img src="https://storage.googleapis.com/govtjobkaro_images/Rectangle 22@2x.png" alt="slide1"></div> -->

                                    <div class="mt-1 ml-2">
                                        <h5>Ashwin Bhattacharya</h5>
                                        <!-- <p>CEO at MadBrains</p> -->
                                    </div>
                                    <!-- <div class="mt-1  ml-2 "><img src="https://storage.googleapis.com/govtjobkaro_images/tweet.svg" alt="slide1"></div> -->
                                </div>
                                <div class="d-flex flex-row justify-content-center">
                                    <p>The easily best online course I have taken. It had theory parts mixed with
                                        presentations.
                                        Teachers have a really good way to interact with students. I learned a lot from
                                        this class, and I am too confident that
                                        this time I will clear the exam
                                        <!-- <a style="color: #4098ff;" href="/">@Skillfy</a> -->
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item">
                            <div id="circle" class="col-lg-4 ml-4">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <!-- <div class="mt-1"><img src="https://storage.googleapis.com/govtjobkaro_images/Rectangle 22@2x.png" alt="slide1"></div> -->

                                    <div class="mt-1 ml-2">
                                        <h5>Rohan Joshi</h5>
                                        <!-- <p>CEO at MadBrains</p> -->
                                    </div>
                                    <!-- <div class="mt-1 ml-2"><img src="https://storage.googleapis.com/govtjobkaro_images/tweet.svg" alt="slide1"></div> -->
                                </div>
                                <div class="d-flex flex-row justify-content-center">
                                    <p>Bhot accha course hai, bhot kuch seekhne ko mila. Maine pehle kafi time se govt.
                                        Exams krne ki koshish kar rha tha lekin
                                        tab mujhe itni important topic or exam patterns ke bare me itna pta ni tha nahi
                                        tha. Par ab mujhe sab topic clear hai
                                        kafi nayi technique bhi seekhne ko mili.
                                        <!-- <a style="color: #4098ff;" href="/">@Skillfy</a> -->
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item ">
                            <div id="circle" class="col-lg-4 ml-4">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <!-- <div class="mt-1"><img src="https://storage.googleapis.com/govtjobkaro_images/Rectangle 22@2x.png" alt="slide1"></div> -->

                                    <div class="mt-1 ml-2">
                                        <h5>Bharti</h5>
                                        <!-- <p>CEO at MadBrains</p> -->
                                    </div>
                                    <!-- <div class="mt-1  ml-2"><img src="https://storage.googleapis.com/govtjobkaro_images/tweet.svg" alt="slide1"></div> -->
                                </div>
                                <div class="d-flex flex-row justify-content-center">
                                    <p>It was a very good course. Mujhe govt. Job krne me kafi interest to tha but muje
                                        itni knowledge ni thi or exam ke lie
                                        time bhi kafi kam tha but Thanks to Govt. job kro, jinki bajah se mai itne kam
                                        time me apni preparation itni jldi
                                        complete kr paya ab me kafi confident hu ki is bar mai patwari exam clear kr
                                        paunga
                                        <!-- <a style="color: #4098ff;" href="/">@Skillfy</a> -->
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#recipeCarousel').carousel({
        interval: 10000
    })

    $('.carousel .carousel-item').each(function () {
        var minPerSlide = 3;
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < minPerSlide; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
        }
    });
</script>