<div class="what-students-say container-fluid">
    <div class="container prev-next">
        <h1 class="poppins-medium">What our students have to say</h1>

        <!-- carousel -->
        <!-- <div id="students" class="owl-carousel owl-theme">

            <div class="students-post">
                <div class="students-profile d-flex align-items-center mb-2">
                    <img src="images/abhishek_agarwal.jpeg" alt="">
                    <div class="user ml-3">
                        <h4 class="poppins-semibold">Abhishek Agarwal</h4>
                        <h6 class="poppins-regular">SDO PSPCL</h6>
                    </div>

                </div>
                <div class="poppins-regular students-message">
                    The easily best online course I have taken. It had theory parts mixed with
                    presentations.
                    Teachers have a really good way to interact with students. I learned a lot from
                    this class, and I am too confident that
                    this time I will clear the exam.
                </div>
            </div>
            <div class="students-post">
                <div class="students-profile d-flex align-items-center mb-2 ">
                    <img src="images/puneet_singh.jpeg" alt="">
                    <div class="user ml-3">
                        <h4 class="poppins-semibold">Puneet Singh</h4>
                        <h6 class="poppins-regular">Inspector in FCS</h6>
                    </div>

                </div>
                <div class="poppins-regular students-message">
                    Bhot accha course hai, bhot kuch seekhne ko mila. Maine pehle kafi time se govt.
                    Exams krne ki koshish kar rha tha lekin
                    tab mujhe itni important topic or exam patterns ke bare me itna pta ni tha nahi
                    thi. Par ab mujhe sab topic clear hai
                    kafi nayi technique bhi seekhne ko mili.
                </div>
            </div>
            <div class="students-post">
                <div class="students-profile d-flex align-items-center mb-2 ">
                    <img src="images/ishan_bansal.jpeg" alt="">
                    <div class="user ml-3">
                        <h4 class="poppins-semibold">Ishan Bansal</h4>
                        <h6 class="poppins-regular">Food Safety Officer</h6>
                    </div>

                </div>
                <div class="poppins-regular students-message">
                    It was a very good course. Mujhe govt. Job krne me kafi interest to tha but muje
                    itni knowledge ni thi or exam ke lie
                    time bhi kafi kam tha but Thanks to Govt. job kro, jinki bajah se mai itne kam
                    time me apni preparation itni jldi
                    complete kr paya ab me kafi confident hu ki is bar mai patwari exam clear kr
                    paunga
                </div>
            </div>
            <div class="students-post">
                <div class="students-profile d-flex align-items-center mb-2 ">
                    <img src="images/sumit_gupta.jpg" alt="">
                    <div class="user ml-3">
                        <h4 class="poppins-semibold">Sumit Gupta</h4>
                        <h6 class="poppins-regular">Deputy Director</h6>
                    </div>

                </div>
                <div class="poppins-regular students-message">
                    There are not many people who are selling their courses but I did not know to
                    whom to go to for. But my friend gives me the advice to join govt. job karo and
                    that was the turning point of my life. I
                    never thought that it’s too easy to crack govt.
                </div>
            </div>
            <div class="students-post">
                <div class="students-profile d-flex align-items-center mb-2 ">
                    <img src="images/shobhika.jpg" alt="">
                    <div class="user ml-3">
                        <h4 class="poppins-semibold">Shobhika</h4>
                        <h6 class="poppins-regular">Deputy Director</h6>
                    </div>

                </div>
                <div class="poppins-regular students-message">
                    Took this course earlier this year. It was very informative and gave me the push
                    I needed to start my preparation. I
                    made few mistakes at first but finally understood how to do things. Now I know
                    all about the government. exam criteria.
                </div>
            </div>

            <div class="students-post">
                <div class="students-profile d-flex align-items-center mb-2 ">
                    <img src="images/ravneet_kaur.jpeg" alt="">
                    <div class="user ml-3">
                        <h4 class="poppins-semibold">Ravneet Kaur</h4>
                        <h6 class="poppins-regular">Finance Manager, SHA</h6>
                    </div>

                </div>
                <div class="poppins-regular students-message">
                    Very much impressed by this course. Very good explanations. But my base was not
                    clear but with govt job karo cleared all
                    my doubts and clear my basics still understood everything well. Keep up the good
                    work. Friends if you are interested in
                    govt. job, I would say go for it.
                </div>
            </div>

            <div class="students-post">
                <div class="students-profile d-flex align-items-center mb-2 ">
                    <img src="images/shilpa_garg.jpeg" alt="">
                    <div class="user ml-3">
                        <h4 class="poppins-semibold">Shilpa Garg</h4>
                        <h6 class="poppins-regular">Patwari, Irrigation Dept.</h6>
                    </div>

                </div>
                <div class="poppins-regular students-message">
                    Very good course. Learned a lot from Govt. job karo.
                </div>
            </div>

        </div> -->

        <div id="students" class="owl-carousel owl-theme">

            <div class="students-post text-center">
                <img src="images/abhishek_agarwal.jpeg" class="ml-auto mr-auto img-styling" alt="" style="width: 85px;">
                <div class="mt-2">
                    <h5 class="poppins-semibold">Abhishek Agarwal</h5>
                    <h6 class="poppins-regular">SDO PSPCL</h6>

                </div>
                <div class="poppins-regular students-message">
                    The easily best online course I have taken. It had theory parts mixed with
                    presentations.
                    Teachers have a really good way to interact with students. I learned a lot from
                    this class, and I am too confident that
                    this time I will clear the exam.
                </div>
            </div>
            <div class="students-post text-center">
                <img src="images/puneet_singh.jpeg" class="ml-auto mr-auto img-styling" style="width: 85px;" alt="">
                <div class="mt-2">
                    <h5 class="poppins-semibold">Puneet Singh</h5>
                    <h6 class="poppins-regular">Inspector in FCS</h6>
                </div>
                <div class="poppins-regular students-message">
                    Bhot accha course hai, bhot kuch seekhne ko mila. Maine pehle kafi time se govt.
                    Exams krne ki koshish kar rha tha lekin
                    tab mujhe itni important topic or exam patterns ke bare me itna pta ni tha nahi
                    thi. Par ab mujhe sab topic clear hai
                    kafi nayi technique bhi seekhne ko mili.
                </div>
            </div>
            <div class="students-post text-center">
                <img src="images/ishan_bansal.jpeg" alt="" class="ml-auto mr-auto img-styling" style="width: 85px;">
                <div class="mt-2">
                    <h5 class="poppins-semibold">Ishan Bansal</h5>
                    <h6 class="poppins-regular">Food Safety Officer</h6>
                </div>
                <div class="poppins-regular students-message">
                    It was a very good course. Mujhe govt. Job krne me kafi interest to tha but muje
                    itni knowledge ni thi or exam ke lie
                    time bhi kafi kam tha but Thanks to Govt. job kro, jinki bajah se mai itne kam
                    time me apni preparation itni jldi
                    complete kr paya ab me kafi confident hu ki is bar mai patwari exam clear kr
                    paunga
                </div>
            </div>
            <div class="students-post text-center">
                <img src="images/sumit_gupta.jpg" alt="" style="width: 85px;" class="ml-auto mr-auto img-styling">
                <div class="mt-2">
                    <h5 class="poppins-semibold">Sumit Gupta</h5>
                    <h6 class="poppins-regular">Deputy Director</h6>
                </div>
                <div class="poppins-regular students-message">
                    There are not many people who are selling their courses but I did not know to
                    whom to go to for. But my friend gives me the advice to join govt. job karo and
                    that was the turning point of my life. I
                    never thought that it’s too easy to crack govt.
                </div>
            </div>

            <div class="students-post text-center">
                <img src="images/shobhika.jpg" alt="" style="width: 85px;" class="ml-auto mr-auto img-styling">
                <div class="mt-2">

                    <h5 class="poppins-semibold">Shobhika</h5>
                    <h6 class="poppins-regular">Deputy Director</h6>

                </div>
                <div class="poppins-regular students-message">
                    Took this course earlier this year. It was very informative and gave me the push
                    I needed to start my preparation. I
                    made few mistakes at first but finally understood how to do things. Now I know
                    all about the government. exam criteria.
                </div>
            </div>

            <div class="students-post text-center">
                <img src="images/ravneet_kaur.jpeg" alt="" style="width: 85px;" class="ml-auto mr-auto img-styling">
                <div class="mt-2">

                    <h5 class="poppins-semibold">Ravneet Kaur</h5>
                    <h6 class="poppins-regular">Finance Manager, SHA</h6>

                </div>
                <div class="poppins-regular students-message">
                    Very much impressed by this course. Very good explanations. But my base was not
                    clear but with govt job karo cleared all
                    my doubts and clear my basics still understood everything well. Keep up the good
                    work. Friends if you are interested in
                    govt. job, I would say go for it.
                </div>
            </div>

            <div class="students-post text-center">
                <img src="images/shilpa_garg.jpeg" alt="" style="width: 85px;" class="ml-auto mr-auto img-styling">
                <div class="mt-2">

                    <h5 class="poppins-semibold">Shilpa Garg</h5>
                    <h6 class="poppins-regular">Patwari, Irrigation Dept.</h6>

                </div>
                <div class="poppins-regular students-message">
                    Very good course. Learned a lot from Govt. job karo.
                </div>
            </div>

        </div>

    </div>
</div>

<style>
    .poppins-regular {
        font-family: Poppins Normal;
        src: url(./fonts/Poppins-Regular.ttf);
    }

    .poppins-medium {
        font-family: Poppins Medium;
        src: url(./fonts/Poppins-Medium.ttf);
    }

    .poppins-semibold {
        font-family: Poppins Normal;
        src: url(./fonts/Poppins-SemiBold.ttf);
        font-weight: 600;
    }

    .students-post {
        height: 385px;
    }

    /* h4 {
        margin-bottom: 4px;
    } */
    .img-styling {
        height: 85px;
        border-radius: 50%;
        box-shadow: 0px 0px 8px black;
    }
</style>

<script>
    $('.owl-carousel').owlCarousel({
        auto: true,
        loop: true,
        autoplay: true,
        dots: false,
        autoplayTimeout: 5000,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            922: {
                items: 2
            },
            1200: {
                items: 3
            }
        }
    })

</script>