<!-- style="display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical; overflow: hidden;" -->
<h2 style="font-family: poppins normal;font-weight: bold;" class="mt-5 text-center">Meet Your Teachers</h2>
<div class="container  pt-5 " style="font-family: poppins normal;display: grid; grid-template-columns: repeat(4, 1fr);">
    <div class="container mt-5 pt-5 pl-4">
        <div class=" card" style="width: 15rem;">
            <div class="image-shadow" style="background-color: #06b47e; height: 225px;">
                <img class="card-img-top" src="./images/grijesh_sir.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="text-center">Grijesh Sir</h4>
                <p class="card-text"><b>Experience:</b> 19 Years of Test Cracking Experience
                    <br><b>Qualifications:</b>Punjabi University, Patiala
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-5 pt-5 pl-4">
        <div class=" card" style="width: 15rem;">
            <div class="image-shadow" style="background-color: #5e5881; height: 225px;">
                <img class="card-img-top" src="./images/manoj_sir.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="text-center">Manoj Sir</h4>
                <p class="card-text"><b>Experience:</b> 23 Years of Test Cracking Experience
                    <br><b>Qualifications:</b> M.Ed Kurukshetra University & M.BA Sikkim Manipal University
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-5 pt-5 pl-4">
        <div class=" card" style="width: 15rem;">
            <div class="image-shadow" style="background-color: #f68c20; height: 225px;">
                <img class="card-img-top" src="./images/vineet_sir.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="text-center">Vineet Sir</h4>
                <p class="card-text"><b>Experience:</b> 13 Years of Test Cracking Experience
                    <br><b>Qualifications:</b> B.Tech Punjab Engineering College
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-5 pt-5 pl-4">
        <div class=" card" style="width: 15rem;">
            <div class="image-shadow" style="background-color: #06b47e; height: 225px;">
                <img class="card-img-top" src="./images/chandan_goyal_sir.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="text-center">Chandan Sir</h4>
                <p class="card-text"><b>Experience:</b> 20 Years of Test Cracking Experience
                    <br><b>Qualifications:</b> B.E. Punjab Technical University, Jalandhar
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-5 pt-5 pl-4">
        <div class=" card" style="width: 15rem;">
            <div class="image-shadow" style="background-color: #5e5881; height: 225px;">
                <img class="card-img-top" src="./images/anhad_sir.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="text-center">Anhad Sir</h4>
                <p class="card-text"><b>Experience:</b> 4 Years of Test Cracking Experience
                    <br><b>Qualifications:</b> B.Tech University of Petroleum and Energy Studies, Dehradun
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-5 pt-5 pl-4">
        <div class=" card" style="width: 15rem;">
            <div class="image-shadow" style="background-color: #f68c20; height: 225px;">
                <img class="card-img-top" src="./images/vinay_sir.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="text-center">Vinay Sir</h4>
                <p class="card-text"><b>Experience:</b> 5 Years of Test Cracking Experience
                    <br><b>Qualifications:</b> B.Tech IIT Dhanbad
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-5 pt-5 pl-4">
        <div class=" card" style="width: 15rem;">
            <div class="image-shadow" style="background-color: #06b47e; height: 225px;">
                <img class="card-img-top" src="./images/priyanka_mam.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="text-center">Priyanka Ma'am</h4>
                <p class="card-text"><b>Experience:</b> 3 Years of Test Cracking Experience
                    <br><b>Qualifications:</b> M.Sc (Biotechnology)
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-5 pt-5 pl-4">
        <div class=" card" style="width: 15rem;">
            <div class="image-shadow" style="background-color: #5e5881; height: 225px;">
                <img class="card-img-top" src="./images/sandeep_sir.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="text-center">Sandeep Sir</h4>
                <p class="card-text"><b>Experience:</b> 13 Years of Test Cracking Experience
                    <br><b>Qualifications:</b> Ph.D Tata Institute of Fundamental Research
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-5 pt-5 pl-4">
        <div class=" card" style="width: 15rem;">
            <div class="image-shadow" style="background-color: #f68c20; height: 225px;">
                <img class="card-img-top" src="./images/dinesh_vohra_sir.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="text-center">Dinesh Sir</h4>
                <p class="card-text"><b>Experience:</b> 9 Years of Test Cracking Experience
                    <br><b>Qualifications:</b> B.Tech IIT Roorkee
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-5 pt-5 pl-4">
        <div class=" card" style="width: 15rem;">
            <div class="image-shadow" style="background-color: #06b47e; height: 225px;">
                <img class="card-img-top" src="./images/rahul_sir.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="text-center">Rahul Sir</h4>
                <p class="card-text"><b>Experience:</b> 7 Years of Test Cracking Experience
                    <br><b>Qualifications:</b> B.E Thapar University, Patiala
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-5 pt-5 pl-4">
        <div class=" card" style="width: 15rem;">
            <div class="image-shadow" style="background-color: #5e5881; height: 225px;">
                <img class="card-img-top" src="./images/dhaliwal_mam.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="text-center">Dhaliwal Ma'am</h4>
                <p class="card-text"><b>Experience:</b> 27 Years of Test Cracking Experience
                    <br><b>Qualifications:</b> M.Sc & Phd
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-5 pt-5 pl-4">
        <div class=" card" style="width: 15rem;">
            <div class="image-shadow" style="background-color: #f68c20; height: 225px;">
                <img class="card-img-top" src="./images/jyoti_mam.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="text-center">Jyoti Ma'am</h4>
                <p class="card-text"><b>Experience:</b> 4 Years of Test Cracking Experience
                    <br><b>Qualifications:</b> BDS
                </p>
            </div>
        </div>
    </div>


</div>

<div class="container mt-5 d-flex justify-content-center">
    <button id="know" class="btn pink-btn" type="submit" onclick="window.location='about-us'">Know more about
        GovtJobKaro</button>
</div>

<style>
    .card-text {
        text-align: center;
        color: #5F5982;
        font-size: 11px;
    }

    .image-shadow {
        box-shadow: 0px 2px 5px #aaa;
    }

    .card {
        height: 370px;
        box-shadow: 0px 0px 5px #aaa;
    }

    .card-img-top {
        position: relative;
        bottom: 80px;
    }
</style>