<div class="container text-center">
    <h2 style="font-family: poppins normal;font-weight: bold;margin-bottom: 90px;" class="mt-5 text-center">Meet Your
        Teachers</h2>
    <div class="teachers mt-3 text-center row" style="font-family: poppins normal;">
        <div class="    col-6">
            <div class="card-mob">
                <div class="image-shadow" style="background-color: #06b47e;">
                    <img class="card-img-top img-mob" src="./images/grijesh_sir.png" alt="Card image cap">
                </div>
                <div class="card-body pl-0 pr-0">
                    <h6 class="text-center">Grijesh Sir</h6>
                    <p style="height: 80px" class=" card-text-mob grijesh-sir"><b>Experience:</b> 19 Years of Test
                        Cracking
                        Experience
                        <br><b>Qualifications:</b>Punjabi University, Patiala
                    </p>
                    <!-- Girijesh sir comes with years of very diverse experience of teaching
                        various students for
                        different competitive <span id="ellipsis-grijesh-sir">...</span><span id="grijesh-sir"
                            style="display: none;">exams.
                            Himself a pass-out of esteemed Punjabi University, Patiala,
                            he has dedicated his life to his
                            subject and his students
                            where he can boast of having a unique experience of teaching students from all the sections
                            of the society. In these
                            courses, he has brought in his years of experience by sharing many amazing techniques and
                            important formulae which are
                            must for tracking these exams in shortest possible time.</span></p>
                    <button class="btn pink-btn p-1 px-4" id="readMore-grijesh-sir" style="font-size: 12px;">Read
                        More</button>
                    <button class="btn pink-btn p-1 px-4" id="readLess-grijesh-sir"
                        style="display: none;font-size: 12px;">Read
                        Less</button> -->
                </div>
            </div>
        </div>

        <div class="pl-0    col-6">
            <div class="card-mob">
                <div class="image-shadow" style="background-color: #5e5881;">
                    <img class="card-img-top img-mob" src="./images/manoj_sir.png" alt="Card image cap">
                </div>
                <div class="card-body pl-0 pr-0">
                    <h6 class=" text-center">Manoj Sir</h6>
                    <p style="height: 80px" class=" card-text-mob manoj-sir"><b>Experience:</b> 23 Years of Test
                        Cracking
                        Experience
                        <br><b>Qualifications:</b> M.Ed Kurukshetra University & M.BA Sikkim Manipal University
                    </p>
                    <!-- Manoj sir is a veteran of this field with
                        more than
                        23 years of
                        experience of teaching. With
                        a very elaborative<span id="ellipsis-manoj-sir">...</span><span id="manoj-sir"
                            style="display: none;"> academic
                            history, he
                            holds MSc. Geography degree from Punjab University, Chandigarh,
                            MEd. degree from
                            Kurukshetra University and
                            MBA degree from Sikkim Manipal University. Bringing in an engaging style of teaching in
                            a
                            subject like social studies,
                            he is one of his kind expert in his domain who can entertain students with his unique
                            way of
                            teaching but can still make
                            sure that they get the maximum benefit out of his lectures.</span></p>
                    <button class="btn pink-btn p-1 px-4" id="readMore-manoj-sir" style="font-size: 12px;">Read
                        More</button>
                    <button class="btn pink-btn p-1 px-4" id="readLess-manoj-sir"
                        style="display: none;font-size: 12px;">Read
                        Less</button> -->
                </div>
            </div>
        </div>

        <div class="    col-6">
            <div class="card-mob">
                <div class="image-shadow" style="background-color: #f68c20;">
                    <img class="card-img-top img-mob" src="./images/vineet_sir.png" alt="Card image cap">
                </div>
                <div class="card-body pl-0 pr-0">
                    <h6 class="text-center">Vineet Sir</h6>
                    <p style="height: 50px" class=" card-text-mob vineet-sir"><b>Experience:</b> 13 Years of Test
                        Cracking
                        Experience
                        <br><b>Qualifications:</b> B.Tech Punjab Engineering College
                    </p>
                    <!-- Pass-out of esteemed PEC university, 2008 batch, Vineet sir has
                        been
                        married
                        to his
                        subject for<span id="ellipsis-vineet-sir">...</span><span id="vineet-sir"
                            style="display: none;">
                            last 13 years. Now with
                            years of experience of preparing and teaching students for various exams, he has been
                            able to
                            develop his key expertise
                            where his short-cut techniques and deep understanding of the subject has helped thousands of
                            the
                            students over the
                            years. With GovtJobKaro, he brings in his love for his subject and his eye for detail which
                            is a
                            must for cracking these
                            exams.</span></p>
                    <button class="btn pink-btn p-1 px-4" id="readMore-vineet-sir" style="font-size: 12px;">Read
                        More</button>
                    <button class="btn pink-btn p-1 px-4" id="readLess-vineet-sir"
                        style="display: none;font-size: 12px;">Read
                        Less</button> -->
                </div>
            </div>
        </div>

        <div class="pl-0   col-6 ">
            <div class="card-mob">
                <div class="image-shadow" style="background-color: #06b47e;">
                    <img class="card-img-top img-mob" src="./images/chandan_goyal_sir.png" alt="Card image cap">
                </div>
                <div class="card-body pl-0 pr-0">
                    <h6 class="text-center">Chandan Sir</h6>
                    <p style="height: 50px" class=" card-text-mob chandan-sir"><b>Experience:</b> 20 Years of Test
                        Cracking
                        Experience
                        <br><b>Qualifications:</b> B.E. Punjab Technical University, Jalandhar
                    </p>
                    <!-- Chandan Sir comes with 20 years of experience teaching
                        various
                        students for different competitive exams<span id="ellipsis-chandan-sir">...</span><span
                            id="chandan-sir" style="display: none;">. Himself a
                            pass-out of esteemed Punjab Technical University, Jalandhar in Bachelor of Engineering. He
                            is a dedicated, resourceful,
                            and goal-driven professional educator with a solid commitment to the social and academic
                            growth and development of every
                            aspirant.</span></p>
                    <button class="btn pink-btn p-1 px-4" id="readMore-chandan-sir" style="font-size: 12px;">Read
                        More</button>
                    <button class="btn pink-btn p-1 px-4" id="readLess-chandan-sir"
                        style="display: none;font-size: 12px;">Read
                        Less</button> -->
                </div>
            </div>
        </div>

        <div class="   col-6 ">
            <div class="card-mob">
                <div class="image-shadow" style="background-color: #5e5881;">
                    <img class="card-img-top img-mob" src="./images/anhad_sir.png" alt="Card image cap">
                </div>
                <div class="card-body pl-0 pr-0">
                    <h6 class="text-center">Anhad Sir</h6>
                    <p style="height: 80px" class=" card-text-mob anhad-sir"><b>Experience:</b> 4 Years of Test
                        Cracking
                        Experience
                        <br><b>Qualifications:</b> B.Tech University of Petroleum and Energy Studies, Dehradun
                    </p>
                    <!-- He had passed out with the Graduation Degree in B.Tech from the
                        University of Petroleum and Energy <span id="ellipsis-anhad-sir">...</span><span id="anhad-sir"
                            style="display: none;">Studies, Dehradun. A
                            self-directed, action-oriented professional with 4 year's experience in education and
                            community service. He has proven
                            abilities in problem-solving questions of the toughest exams of India.</span></p>
                    <button class="btn pink-btn p-1 px-4" id="readMore-anhad-sir" style="font-size: 12px;">Read
                        More</button>
                    <button class="btn pink-btn p-1 px-4" id="readLess-anhad-sir"
                        style="display: none;font-size: 12px;">Read
                        Less</button> -->
                </div>
            </div>
        </div>

        <div class="pl-0    col-6">
            <div class="card-mob">
                <div class="image-shadow" style="background-color: #f68c20;">
                    <img class="card-img-top img-mob" src="./images/vinay_sir.png" alt="Card image cap">
                </div>
                <div class="card-body pl-0 pr-0">
                    <h6 class="text-center">Vinay Sir</h6>
                    <p style="height: 80px" class=" card-text-mob vinay-sir"><b>Experience:</b> 5 Years of Test
                        Cracking
                        Experience
                        <br><b>Qualifications:</b> B.Tech IIT Dhanbad
                    </p>
                    <!-- He had got an opportunity to pass out with a qualification of
                        B.tech
                        from IIT Dhanbad. He is a <span id="ellipsis-vinay-sir">...</span><span id="vinay-sir"
                            style="display: none;">Professional Educator
                            with diverse experience of 5 years in the Education Sector and a strong track record
                            fostering child-centered curriculum
                            and student creativity. He is one of the experts in his domain who can make the students
                            with his unique way of teaching
                            excel in his subject.</span></p>
                    <button class="btn pink-btn p-1 px-4" id="readMore-vinay-sir" style="font-size: 12px;">Read
                        More</button>
                    <button class="btn pink-btn p-1 px-4" id="readLess-vinay-sir"
                        style="display: none;font-size: 12px;">Read
                        Less</button> -->
                </div>
            </div>
        </div>

        <div class="   col-6 ">
            <div class="card-mob">
                <div class="image-shadow" style="background-color: #06b47e;">
                    <img class="card-img-top img-mob" src="./images/priyanka_mam.png" alt="Card image cap">
                </div>
                <div class="card-body pl-0 pr-0">
                    <h6 class="text-center">Priyanka Ma'am</h6>
                    <p style="height: 60px" class=" card-text-mob priyanka-mam"><b>Experience:</b> 3 Years of Test
                        Cracking
                        Experience
                        <br><b>Qualifications:</b> M.Sc (Biotechnology)
                    </p>
                    <!-- She is a Post Graduate in Masters of Science in BioTechnology
                        . She
                        Possesses an effective<span id="ellipsis-priyanka-mam">...</span><span id="priyanka-mam"
                            style="display: none;">, positive and flexible
                            teaching style with Experience of 3 years. With GovtJobKaro, she brings her eye for detail
                            which is a must for cracking
                            these exams.</span></p>
                    <button class="btn pink-btn p-1 px-4" id="readMore-priyanka-mam" style="font-size: 12px;">Read
                        More</button>
                    <button class="btn pink-btn p-1 px-4" id="readLess-priyanka-mam"
                        style="display: none;font-size: 12px;">Read
                        Less</button> -->
                </div>
            </div>
        </div>

        <div class="pl-0    col-6">
            <div class="card-mob">
                <div class="image-shadow" style="background-color: #5e5881;">
                    <img class="card-img-top img-mob" src="./images/sandeep_sir.png" alt="Card image cap">
                </div>
                <div class="card-body pl-0 pr-0">
                    <h6 class="text-center">Sandeep Sir</h6>
                    <p style="height: 60px" class=" card-text-mob sandeep-sir"><b>Experience:</b> 13 Years of Test
                        Cracking
                        Experience
                        <br><b>Qualifications:</b> Ph.D Tata Institute of Fundamental Research
                    </p>
                    <!-- He is Pass Out from Tata Institute of Fundamental Research
                        With Ph.D. He
                        is
                        well
                        expert in
                        his field<span id="ellipsis-sandeep-sir">...</span><span id="sandeep-sir"
                            style="display: none;">
                            with experience
                            of
                            no. of years . His Experience helps the students with the learning of techniques and fast
                            steps to crack exams with
                            accuracy.</span></p>
                    <button class="btn pink-btn p-1 px-4" id="readMore-sandeep-sir" style="font-size: 12px;">Read
                        More</button>
                    <button class="btn pink-btn p-1 px-4" id="readLess-sandeep-sir"
                        style="display: none;font-size: 12px;">Read
                        Less</button> -->
                </div>
            </div>
        </div>

        <div class="    col-6">
            <div class="card-mob">
                <div class="image-shadow" style="background-color: #f68c20;">
                    <img class="card-img-top img-mob" src="./images/dinesh_vohra_sir.png" alt="Card image cap">
                </div>
                <div class="card-body pl-0 pr-0">
                    <h6 class="text-center">Dinesh Sir</h6>
                    <p style="height: 40px" class=" card-text-mob dinesh-sir"><b>Experience:</b> 9 Years of Test
                        Cracking
                        Experience
                        <br><b>Qualifications:</b> B.Tech IIT Roorkee
                    </p>
                    <!-- Pass-out of esteemed IIT Roorkee, B.Tech.With more than 9 years
                        of
                        experience in preparing<span id="ellipsis-dinesh-sir">...</span><span id="dinesh-sir"
                            style="display: none;">and teaching students for
                            various exams, he has been able to develop a deep understanding of the subject that has
                            helped thousands of students
                            over the years.</span></p>
                    <button class="btn pink-btn p-1 px-4" id="readMore-dinesh-sir" style="font-size: 12px;">Read
                        More</button>
                    <button class="btn pink-btn p-1 px-4" id="readLess-dinesh-sir"
                        style="display: none;font-size: 12px;">Read
                        Less</button> -->
                </div>
            </div>
        </div>


        <div class="pl-0    col-6">
            <div class="card-mob">
                <div class="image-shadow" style="background-color: #5e5881;">
                    <img class="card-img-top img-mob" src="./images/dhaliwal_mam.png" alt="Card image cap">
                </div>
                <div class="card-body pl-0 pr-0">
                    <h6 class="text-center">Dhaliwal Ma'am</h6>
                    <p style="height: 40px" class=" card-text-mob dhaliwal-mam"><b>Experience:</b> 27 Years of Test
                        Cracking
                        Experience
                        <br><b>Qualifications:</b> M.Sc & Phd
                    </p>
                    <!-- Dhaliwal Mam is a professional in this field with more than
                        27 years
                        of experience in teaching<span id="ellipsis-dhaliwal-mam">...</span><span id="dhaliwal-mam"
                            style="display: none;">. With a very elaborative
                            academic history, he holds an MSc. Degree with Ph.D. in her Subject. Bringing in an engaging
                            style of teaching in a
                            subject. She is one of his kind experts in his domain who can entertain students with his
                            unique way of teaching.</span></p>
                    <button class="btn pink-btn p-1 px-4" id="readMore-dhaliwal-mam" style="font-size: 12px;">Read
                        More</button>
                    <button class="btn pink-btn p-1 px-4" id="readLess-dhaliwal-mam"
                        style="display: none;font-size: 12px;">Read
                        Less</button> -->
                </div>
            </div>
        </div>

        <div class="   col-6 ">
            <div class="card-mob">
                <div class="image-shadow" style="background-color: #f68c20;">
                    <img class="card-img-top img-mob" src="./images/jyoti_mam.png" alt="Card image cap">
                </div>
                <div class="card-body pl-0 pr-0">
                    <h6 class="text-center">Jyoti Ma'am</h6>
                    <p style="height: 40px" class=" card-text-mob jyoti-mam"><b>Experience:</b> 4 Years of Test Cracking
                        Experience
                        <br><b>Qualifications:</b> BDS
                    </p>
                    <!-- She is a Graduate of Bachelor of Dental Surgery(BDS). She
                        possesses
                        an effective and flexible teaching <span id="ellipsis-jyoti-mam">...</span><span id="jyoti-mam"
                            style="display: none;">style with
                            Experience of 4
                            years. She is a dedicated and resourceful educator with a commitment to the
                            academic growth and
                            development of every aspirant.</span></p>
                    <button class="btn pink-btn p-1 px-4" id="readMore-jyoti-mam" style="font-size: 12px;">Read
                        More</button>
                    <button class="btn pink-btn p-1 px-4" id="readLess-jyoti-mam"
                        style="display: none;font-size: 12px;">Read
                        Less</button> -->
                </div>
            </div>
        </div>

        <div class="pl-0    col-6">
            <div class="card-mob">
                <div class="image-shadow" style="background-color: #06b47e;">
                    <img class="card-img-top img-mob" src="./images/rahul_sir.png" alt="Card image cap">
                </div>
                <div class="card-body pl-0 pr-0">
                    <h6 class="text-center">Rahul Sir</h6>
                    <p style="height: 40px" class=" card-text-mob rahul-sir"><b>Experience:</b> 7 Years of Test Cracking
                        Experience
                        <br><b>Qualifications:</b> B.E Thapar University, Patiala
                    </p>
                    <!-- Rahul sir comes with years of very diverse experience of
                        teaching
                        various students for different competitive <span id="ellipsis-rahul-sir">...</span><span
                            id="rahul-sir" style="display: none;">exams.
                            Himself a pass-out of esteemed Thapar University, Patiala, in Bachelor of Engineering(B.E.).
                            He has dedicated his 7
                            years of life to his subject and his students where he can boast of having a unique
                            experience of teaching students from
                            all the sections of society.</span></p>
                    <button class="btn pink-btn p-1 px-4" id="readMore-rahul-sir" style="font-size: 12px;">Read
                        More</button>
                    <button class="btn pink-btn p-1 px-4" id="readLess-rahul-sir"
                        style="display: none;font-size: 12px;">Read
                        Less</button> -->
                </div>
            </div>
        </div>

    </div>

    <div class=" d-flex justify-content-center">
        <button id="know" class="btn pink-btn p-2" style="width: 100vw;" type="submit"
            onclick="window.location='about-us'">Know more about
            GovtJobKaro</button>
    </div>
</div>

<style>
    .card-text-mob {
        text-align: center;
        color: #5F5982;
        padding: 0px 10px;
        font-size: 10px;
    }

    .card-mob {
        box-shadow: 0px 0px 5px #aaa;
        margin-bottom: 100px;
    }

    .img-mob {
        position: relative;
        bottom: 40px;
    }

    .card-img-top {
        filter: drop-shadow(0px 2px 3px #aaa);
    }

    /* .card-body>h6 {
        margin-top: 15px;
    } */

    .image-shadow {
        height: 151px;
    }


    @media (min-width: 385px) and (max-width: 600px) {
        .card-body>h6 {
            margin-top: 60px;
        }

        .card-mob {
            margin-bottom: 80px;
        }
    }

    @media (min-width: 320px) and (max-width: 376px) {
        .image-shadow {
            height: 126px;
        }

        .card-mob {
            width: 165px;
            margin-left: auto;
            margin-bottom: 70px;
        }

        .card-body {
            margin-top: 45px;
        }
    }

    @media (max-width: 360px) {
        .card-mob {
            width: 157px;
        }
    }

    @media (min-width: 400px) and (max-width: 425px) {
        .image-shadow {
            height: 185px;
        }

        .card-body>h6 {
            margin-top: 10px;
        }

        .card-mob {
            width: 183px;
            margin-left: auto;
        }

        .rahul-sir,
        .jyoti-mam {
            height: 60px !important;
        }
    }
</style>
<script>

    // let teachers = ['grijesh-sir', 'manoj-sir', 'vineet-sir', 'chandan-sir', 'anhad-sir', 'vinay-sir', 'priyanka-mam', 'sandeep-sir', 'dinesh-sir', 'dhaliwal-mam', 'jyoti-mam', 'rahul-sir'];
    // teachers.forEach(teacher => {
    //     $(`#readMore-${teacher}`).click(() => {
    //         $(`#ellipsis-${teacher}`).hide();
    //         $(`#${teacher}`).slideDown();
    //         $(`#readMore-${teacher}`).hide();
    //         $(`#readLess-${teacher}`).fadeIn();
    //         $(`.${teacher}`).css('height', '100%');
    //     })

    //     $(`#readLess-${teacher}`).click(() => {
    //         $(`#ellipsis-${teacher}`).show();
    //         $(`#${teacher}`).slideUp();
    //         $(`#readLess-${teacher}`).hide();
    //         $(`#readMore-${teacher}`).fadeIn();
    //         setTimeout(() => {
    //             $(`.${teacher}`).css('height', '100px');
    //         }, 300);
    //     })
    // });

</script>