<section class="team-container container mt-5 mb-5">
    <h1 class="poppins-medium text-center">Our Partners</h1>
    <div class="mt-5 team-card-container">
        <div class="team-card team-card-1">
            <div class="default-card default-card-1 text-center">
                <div class="team-logo mb-4">
                    <img src="https://storage.googleapis.com/govtjobkaro_images/Edusquarenew.png" alt="Educational logo">
                </div>
                <h4 class="team-heading poppins-medium mb-3">Our Education Partner</h4>
                <p class="team-text poppins-regular">
                    Punjab's Most Reputed Coaching Institute has Partnered with Us Just to help Improve the Quality of
                    Education you Will be Receiving.
                </p>
            </div>
        </div>
        <div class="team-card team-card-2">
            <div class="default-card default-card-2 text-center">
                <div class="team-logo mb-4">
                    <img src="https://storage.googleapis.com/govtjobkaro_images/QBT Logo Black.png" alt="QuadB technologies logo">
                </div>
                <h4 class="team-heading poppins-medium mb-3">Our Technical Partner</h4>
                <p class="team-text poppins-regular">
                    India's Most Innovative Technical Company QuadBtechnologies is here with us to provide you with the
                    best online Platform for Government Jobs Preparation.
                </p>
            </div>
        </div>
        <div class="team-card team-card-3">
            <div class="default-card default-card-3 text-center">
                <div class="team-logo custom-logo mb-4">
                    <img src="https://storage.googleapis.com/govtjobkaro_images/ddu-gky-logo.png" alt="ddu-gky-logo" style="height: 80px; margin-top: 0;">
                </div>
                <h4 class="team-heading poppins-medium mb-3">Our Skill Training Partner</h4>
                <p class="team-text poppins-regular">
                    Deen Dayal Upadhyaya Grameen Kaushalya Yojana aims to skill rural youth who are poor and
                    provide them jobs having regular monthly wages or above the minimum wages.
                </p>
            </div>
        </div>
    </div>
</section>
<style>
    /* team-card-container */
    .team-card-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 360px;
    }

    /* team-container */
    .team-container h1 {
        color: #302D3A;
    }

    .team-card {
        width: 370px;
        padding: 0 25px 40px 25px;
    }

    .default-card {
        min-height: 225px;
    }

    .team-heading {
        color: #302D3A;
        font-weight: bolder;
    }

    .team-logo>img {
        height: 60px;
        margin-top: 20px;
    }

    .team-text {
        min-height: 120px;
        color: #5F5982;
    }

    @media (max-width: 425px) {
        .team-container h1 {
            font-size: 21px;
        }

        .team-card-container {
            flex-direction: column;
        }

        .team-card {
            width: 325px;
            padding: 15px 20px;
        }

        .team-heading {
            font-size: 21px;
        }

        .team-text {
            min-height: 100px;
            font-size: 14px;
            margin-bottom: 0;
        }

        .custom-logo {
            margin-top: 35px;
        }
    }
</style>